* {
	margin:0;
	padding: 0;

}

.grid {
	display: grid;

	grid-template-columns: repeat(12, 1fr);

}

#jumbotron {

	grid-column: 1 / 13;
	margin: auto;
	padding: 10% 5%;
}

#jumbotron h1{
	display: inline;
	float:none;

}

#maintext {

	grid-column:1 / 7 ;

}

#maintext p {
	margin-left: 10%;
	font-size:100%;
	margin-bottom: 3%;
}

#maintext p:nth-child(2) {
	font-size: 80%;
}

#mainpicture{

	grid-column: 7 / 13;

	margin: auto;
}

#button1{
	padding-top: 15%;
	padding-bottom: 5%;
	grid-column: 2 / 4;
	margin:auto;

}

#button2{
	padding-top: 15%;
	padding-bottom: 5%;
	grid-column: 6 / 8;
	margin:auto;

}

#button3{

	padding-top: 15%;
	padding-bottom: 5%;
	grid-column: 10 / 12;
	margin:auto;
}

#button1text{

	grid-column: 2 / 4;
	margin:auto;

}

#button2text{

	grid-column: 6 / 8;
	margin:auto;

}

#button3text{

	grid-column: 10 / 12;
	margin:auto;

}

#getstarted{
	grid-column: 2 / 7;
	margin:auto;
}

#learnmore {
	grid-column: 8 / 13;
	margin:auto;
}

#footer{ 
	grid-column: 1 / 13;
}